body {
	background: $red url(../../images/bg-intro-mobile.png) center;
	background-size: contain;
}
div.container {
	width: 90%;
	max-width: 1200px;
	min-height: 95vh;
	margin: 0 auto;
	padding: 30px 0;
	display: grid;
	grid-template-rows: min-content auto;
	grid-template-columns: auto;
	row-gap: 20px;

	section.text-container {
		h1 {
			margin: 0 auto 15px;
			text-align: center;
			color: $white;
			font-size: 1.8rem;
			font-weight: 700;
			width: 70%;
			max-width: 300px;
		}
		p {
			margin: 0 auto;
			text-align: center;
			line-height: 1.6;
			font-size: 1.18rem;
			font-weight: 300;
			max-width: 470px;
			color: $white;
		}
	}

	main {
		div.action-caller {
			text-align: center;
			line-height: 1.6;
			color: rgba(255, 255, 255, 0.84);
			font-weight: 300;
			padding: 5px;
			background-color: $blue;
			border-radius: 8px;
			margin-bottom: 25px;
			box-shadow: 0 6px rgba(76, 79, 82, 0.2);
			p {
				width: 70%;
				max-width: 200px;
				margin: 0 auto;
				span {
					font-weight: 700;
					color: $white;
					font-size: 1.1rem;
				}
			}
		}

		div.form-container {
			background-color: rgb(255, 255, 255);
			padding: 20px;
			border-radius: 8px;
			box-shadow: 0 7px rgba(76, 79, 82, 0.2);
			height: 490px;
			transition: 0.5s linear;
			form {
				overflow-x: hidden;

				div.animate {
					animation: animate 0.8s ease-in forwards;
					@keyframes animate {
						to {
							transform: translateX(700px);
						}
					}
				}
				div.input {
					margin-bottom: 35px;
					position: relative;

					span.show-error-icon {
						width: 40px;
						height: 40px;
						position: absolute;
						right: 0;
						background: url(../../images/icon-error.svg) no-repeat center;
					}
					span.show-error-message {
						position: absolute;
						right: 0;
						top: 55px;
						color: $red-error;
						font-size: 0.8rem;
						visibility: hidden;
					}

					input {
						padding: 12px;
						width: 100%;
						font-size: 0.9rem;
						font-weight: 600;
						font-family: $font-family;
						border-radius: 5px;
						border: 2px solid rgba(128, 128, 128, 0.281);
						transition: 0.5s;
					}
				}

				input[type="submit"] {
					margin-bottom: 15px;
					padding: 10px;
					width: 100%;
					font-size: 0.9rem;
					font-weight: 600;
					letter-spacing: 2px;
					font-family: $font-family;
					color: $white;
					background-color: $green;
					border-radius: 5px;
					border: 1px solid rgba(46, 29, 29, 0.281);
					box-shadow: 0 3px rgba(76, 79, 82, 0.45);

					&:hover {
						background-color: hsla(154, 59%, 51%, 0.6);
						cursor: pointer;
					}
				}
			}

			div.agreement {
				width: 80%;
				margin: 0 auto;
				font-size: 0.8rem;
				color: $grayish-blue;
				text-align: center;
				opacity: 0.7;

				a {
					color: $red-error;
					font-weight: 500;
				}
			}
		}
	}
}
