@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.15;
  font-family: "Poppins", sans-serif;
  -webkit-text-size-adjust: 100%;
  /* Set core root defaults */
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

img {
  border-style: none;
}

a {
  text-decoration: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button, input, textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/* Remove all animations, transitions, and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: rgba(78, 77, 77, 0.281);
}

html::-webkit-scrollbar-thumb {
  background: rgba(103, 81, 245, 0.7);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
  background: #6751f5;
}

html::-webkit-scrollbar-thumb:active {
  background: #38299e;
}

body {
  background: #ff7a7a url(../../images/bg-intro-mobile.png) center;
  background-size: contain;
}

div.container {
  width: 90%;
  max-width: 1200px;
  min-height: 95vh;
  margin: 0 auto;
  padding: 30px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content auto;
      grid-template-rows: -webkit-min-content auto;
      grid-template-rows: min-content auto;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  row-gap: 20px;
}

div.container section.text-container h1 {
  margin: 0 auto 15px;
  text-align: center;
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
  width: 70%;
  max-width: 300px;
}

div.container section.text-container p {
  margin: 0 auto;
  text-align: center;
  line-height: 1.6;
  font-size: 1.18rem;
  font-weight: 300;
  max-width: 470px;
  color: white;
}

div.container main div.action-caller {
  text-align: center;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.84);
  font-weight: 300;
  padding: 5px;
  background-color: #6751f5;
  border-radius: 8px;
  margin-bottom: 25px;
  -webkit-box-shadow: 0 6px rgba(76, 79, 82, 0.2);
          box-shadow: 0 6px rgba(76, 79, 82, 0.2);
}

div.container main div.action-caller p {
  width: 70%;
  max-width: 200px;
  margin: 0 auto;
}

div.container main div.action-caller p span {
  font-weight: 700;
  color: white;
  font-size: 1.1rem;
}

div.container main div.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  -webkit-box-shadow: 0 7px rgba(76, 79, 82, 0.2);
          box-shadow: 0 7px rgba(76, 79, 82, 0.2);
}

div.container main div.form-container form div.input {
  margin-bottom: 35px;
  position: relative;
}

div.container main div.form-container form div.input span.show-error-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  background: url(../../images/icon-error.svg) no-repeat center;
}

div.container main div.form-container form div.input span.show-error-message {
  position: absolute;
  right: 0;
  top: 45px;
  color: rgba(255, 0, 0, 0.883);
  font-size: 0.8rem;
}

div.container main div.form-container form div.input input {
  padding: 12px;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.281);
}

div.container main div.form-container form input[type="submit"] {
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: #38cc8c;
  border-radius: 5px;
  border: 1px solid rgba(46, 29, 29, 0.281);
  -webkit-box-shadow: 0 3px rgba(76, 79, 82, 0.45);
          box-shadow: 0 3px rgba(76, 79, 82, 0.45);
}

div.container main div.form-container form input[type="submit"]:hover {
  background-color: rgba(56, 204, 140, 0.6);
  cursor: pointer;
}

div.container main div.form-container div.agreement {
  width: 80%;
  margin: 0 auto;
  font-size: 0.8rem;
  color: #b9b6d3;
  text-align: center;
  opacity: 0.7;
}

div.container main div.form-container div.agreement a {
  color: rgba(255, 0, 0, 0.883);
  font-weight: 500;
}

@media screen and (min-width: 800px) {
  body {
    background-image: url(../../images/bg-intro-desktop.png);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  div.container {
    min-height: auto;
    width: 95%;
    -ms-grid-rows: min-content;
        grid-template-rows: -webkit-min-content;
        grid-template-rows: min-content;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  div.container section.text-container h1 {
    margin: 0;
    margin-bottom: 25px;
    text-align: left;
    font-size: 2.25rem;
    font-weight: 700;
    width: 100%;
  }
  div.container section.text-container p {
    margin: 0;
    text-align: left;
  }
  div.container main div.action-caller {
    padding: 15px;
  }
  div.container main div.action-caller p {
    width: 100%;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }
  div.container main div.form-container form div.input span.show-error-icon {
    top: 6px;
  }
  div.container main div.form-container form div.input span.show-error-message {
    top: 60px;
  }
  div.container main div.form-container form div.input input {
    padding: 16px;
    font-size: 1rem;
  }
  div.container main div.form-container form input[type="submit"] {
    padding: 15px;
  }
  div.container main div.form-container div.agreement {
    width: 100%;
  }
}
