//Primary colors
$red: hsl(0, 100%, 74%); 
$green: hsl(154, 59%, 51%);
$white: rgb(251, 243, 243);

//Accent
$blue: hsl(248, 89%, 64%);

//Neutral
$dark-blue: hsl(249, 10%, 26%); 
$grayish-blue: hsl(246, 25%, 77%);

//Font family. Weights: 400, 500, 600, 700
$font-family:'Poppins', sans-serif;